/*FONTS*/
.urbanist-normal {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.urbanist-thin {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.urbanist-bold {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.urbanist-italic {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

/*MAIN CODE*/
html{
    font-size: 13pt;
}
body{
    margin: 0;
    font-family: Urbanist;
}
ul{
    list-style: none;
    padding: 0;
}
header{
    background-image: url(/media/background1.jpg);
    background-attachment: scroll;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    transition: opacity 1s ease-in-out;
}
#top-bar{
    display: flex;
    align-items: center;
    height: 25vh;
    justify-content: space-around;
}
#top-logo{
    height: 150px;
    width: 150px;
    animation: pulse 5s ease;
}

.top-links{
    font-size: 1.5rem;
    padding: 5px;
    text-align: end;
    font-weight: 700;
    color: aliceblue;
    animation: pulse 5s ease;
}
#top-logo g{
    transition: fill 0.5s ease;
}
#top-logo g:hover{
    fill: rgb(110, 179, 240);
}
#main-nav a{
    color: aliceblue;
    text-decoration: none;
    transition: color 2s;
    position: relative;
} 
#main-nav a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: rgb(110, 179, 240); 
    transition: width 0.5s ease; 
}

#main-nav a:hover::after{
    width: 100%;
}
#main-nav a:hover{
    color: rgb(110, 179, 240);  /*con l'hover gestisco le animazioni di un oggetto quando il cursore è sopra di esso*/
    /*font-size: 25px;*/
}

#home-page{
    margin: 0 1rem;
    display: flex;
    background-color: aqua;
}
h1{
    background-color: aquamarine;
    text-align: center;
    font-size: 3rem;
    animation: pulse 6s ease;
}

footer{
    align-content: center;
    background-color: rgb(0, 42, 70);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
}
.first-bottom{
    margin: 0 auto;
    order: 3;
}
.copyright{
    order: 2;
}
#social{
    margin: 0 auto;
    order: 1;
    padding: 0;
}
#social-links li{
    display: inline;
}
#social-links li+li{
    margin-left: 1rem;
}
.social-icons svg path{
    fill: aliceblue;
}
#baby-logo{
    height: 5rem;
}
#baby-logo g{
    fill: aliceblue;
}
.copyright{
    text-align: center;
}

/*CODE FOR BIG SCREENS*/
@media (min-width: 768px) {
    header{
        height: 30vh;
    }
    #main-nav{
        align-self: flex-end;
    }
    #main-menu{
        display: flex;
    }
    #top-bar{
        justify-content: space-between;
        padding: 5px 50px;

    }
    #top-logo{
        height: 220px;
        width: 220px;
    }

    .top-links+.top-links{
        margin-left: 50px;
    }
    #main-nav a{
        color: aliceblue;
        text-decoration: none;
        transition: color 2s;
        position: relative;
    }
    #main-nav a::after{
        content: "";
        position: absolute;
        bottom: 10;
        left: 0;
        width: 0;
        height: 3px;
        background-color: rgb(110, 179, 240); 
        transition: width 0.5s ease; 
    }
    #main-nav a:hover::after{
        width: 100%;
    }
    footer{
        display: flex;
        flex-direction: row;
        background-color: rgb(0, 42, 70);
        justify-content: space-between;
        align-content: center;
        color: aliceblue;
    }
    .first-bottom{
        order: 1;
    }
    #social{
        order: 3;
    }
}

    @keyframes pulse {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 100;
        }
      }